body {
}





/*Default*/

#DefaultPageMainImage {
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    height: 450px;
    width: 1000px;
    margin: 0px auto;
    background-image: url(../Images/3.jpg)
}

.navbar-brand {
    background-color: chartreuse;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
}

.navbar-header >a {
    color: black !IMPORTANT;
}

.navbar-brand:hover {
    background: linear-gradient(to left,greenyellow, greenyellow);
    color: royalblue !IMPORTANT;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    transition: 190ms;
}

.JATnavbar {
    background-color: royalblue;
    text-transform:uppercase;
}

/*Nav bar text color*/
.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-weight:600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Client Form*/


div.ClientFormContainer {
    margin: 0px auto;
    width: 62%;
    background-image: url('../Images/clientFormBackground.png');
    height: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
}

section.ClientFormContainerTitle{
    margin: 0px auto;
    background-color: chartreuse;
    width: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    font-weight:200;

}

.ClientFormSection_Datainput
{
    margin-left:100px;


}

section.ClientFormContainerSubmit {
    margin: 0px auto;
    background-color: chartreuse;
    width: auto;
    text-align: center;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 400;
}
.SubmitButton:hover {
    color: blue;
}



.ClientFormLabel {
    width: 100px;
    display: inline-block;
}

